body{
  background-color: beige;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flowerGarden{
  display: flex;
  flex-wrap: wrap;
}

.flowerCard{
  flex-basis: 15%; 
  border:1px solid black; 
  margin: 5px; 
  padding: 10px; 
}


.retailers{
  display:flex; 
  flex-wrap:wrap;
}
.retailerCard{
  flex-basis: 15%; 
  border:1px solid black; 
  margin: 5px; 
  padding: 10px; 
}